@import url("fonts/fonts.css");

@charset "UTF-8";

.s {
  display: inline-block;
  vertical-align: middle;
}

.s {
  background-image: url("images/sprite.png");
}

.s--logo {
  width: 141px;
  height: 69px;
  background-position: 0px -36px;
}

.s--logo_footer {
  width: 140px;
  height: 36px;
  background-position: 0px 0px;
}

.s--uslugi_design {
  width: 119px;
  height: 119px;
  background-position: 0px -105px;
}

.s--uslugi_issl {
  width: 119px;
  height: 119px;
  background-position: 0px -224px;
}

.s--uslugi_product {
  width: 119px;
  height: 119px;
  background-position: 0px -343px;
}

.s--uslugi_prodv {
  width: 119px;
  height: 119px;
  background-position: 0px -462px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote :before,
q :before,
blockquote :after,
q :after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.b-header {
  max-width: 940px;
  min-width: 600px;
  height: auto;
  position: relative;
  padding-top: 30px;
  margin: 0 auto;
}

.b-header--contacts {
  font-family: ProximaNova-Reg;
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  text-align: right;
}

.b-header--contacts.footer {
  color: #fff;
}

.b-header--contacts.footer a {
  color: #fff;
}

.b-nav {
  position: relative;
  display: block;
  width: 100%;
  min-width: 600px;
  height: 40px;
  background: #fff100;
  margin-top: 15px;
  overflow: hidden;
}

.b-nav--inner {
  position: relative;
  display: block;
  max-width: 940px;
  min-width: 600px;
  height: auto;
  margin: 0 auto;
}

.b-navmenu {
  position: relative;
  font-size: 0;
  width: 100%;
  margin: 0 auto;
}

.b-navmenu li {
  display: inline-block;
}

.b-navmenu li a {
  font-size: 15px;
  font-family: ProximaNova-Reg;
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  padding-right: 60px;
  padding-top: 13px;
  padding-bottom: 20px;
}

.b-navmenu li a:hover {
  text-decoration: none;
}

.b-navmenu li.active_page a {
  font-family: ProximaNova-Bold;
  text-decoration: none;
}

.b-language {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  letter-spacing: 2px;
}

.b-language a {
  color: #000;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 15px;
}

.b-language a.active {
  font-family: ProximaNova-Bold;
  text-decoration: none;
}

.b-content {
  max-width: 940px;
  min-width: 600px;
  display: block;
  position: relative;
  margin: 0 auto;
  padding-top: 25px;
}

.b-content p {
  padding-top: 20px;
}

.b-content img {
  margin-top: 20px;
  max-width: 100%;
}

.b-content--main {
  display: inline-block;
  position: relative;
  width: 65.957446809%;
}

.b-content--spimage {
  display: block;
  max-width: 34%;
  width: 34%;
  float: left;
}

.b-footer {
  position: relative;
  width: 100%;
  min-width: 600px;
  height: 60px;
  background: #000;
}

.b-footer--inner {
  max-width: 940px;
  min-width: 600px;
  position: relative;
  margin: 0 auto;
  padding-top: 10px;
}

.b-recentworks {
  display: block;
  width: 100%;
  min-width: 600px;
  height: auto;
  background: #f5f5e9;
  overflow: hidden;
  margin-top: 30px;
}

.b-recentworks--title {
  display: block;
  max-width: 940px;
  min-width: 600px;
  position: relative;
  margin: 0 auto;
  font-family: ProximaNova-Bold;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 20px;
}

.b-recentworks--list {
  max-width: 940px;
  min-width: 600px;
  position: relative;
  margin: 0 auto;
  font-size: 0;
}

.b-recentworks--list li {
  display: inline-block;
  width: 25%;
  text-align: left;
  vertical-align: top;
}

.b-recentworks--list li a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 20px;
}

.b-recentworks--list li a:hover p {
  color: #000;
}

.b-recentworks--list li a:hover {
  color: #000;
}

.b-recentworks--list li p {
  color: #36a7df;
  font-size: 14px;
  font-family: ProximaNova-Reg;
  padding-top: 5px;
  line-height: 18px;
}

.b-recentworks--imagewrapper {
  position: relative;
  width: 100%;
  height: 120px;
  overflow: hidden;
}

.b-recentworks--imagewrapper img {
  position: relative;
  width: auto;
  min-width: 100%;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.b-uslugi--mainlist {
  display: block;
  width: 100%;
  font-size: 0;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.b-uslugi--mainlist li {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

.b-uslugi--mainlist li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.b-uslugi--mainlist li a p {
  font-size: 14px;
  padding-top: 0;
  padding-bottom: 0;
}

.b-uslugi--mainlist_title {
  padding-top: 10px !important;
  font-family: ProximaNova-Bold;
  text-decoration: underline !important;
}

.b-uslugi--mainlist_text {
  color: #000;
  line-height: 15px;
}

.b-adding {
  max-width: 940px;
  min-width: 600px;
  height: auto;
  position: relative;
  margin: 35px auto;
}

.b-adding--leftad {
  position: relative;
  display: block;
  float: left;
  vertical-align: top;
  width: 42%;
  height: auto;
}

.b-adding--leftad h3 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.b-adding--leftad img {
  position: relative;
  width: 45%;
}

.b-adding--leftad_textbox {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.b-adding--leftad_textbox p {
  padding-top: 10px;
}

.b-adding--contactform {
  position: relative;
  float: right;
  vertical-align: top;
  display: block;
  width: 32%;
}

.b-adding--contactform span {
  font-family: ProximaNova-Reg;
  font-size: 14px;
}

.b-adding--contactform input {
  border: 1px solid #c7c7c7;
  outline: none;
  border-radius: 2px;
  font-family: ProximaNova-Reg;
  font-size: 20px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.b-adding--contactform input:focus {
  border: 1px solid #000;
}

.b-adding--contactform_name {
  width: 45%;
  height: 29px;
}

.b-adding--contactform_nametitle {
  display: block;
  width: 45%;
}

.b-adding--contactform_mail {
  width: 45%;
  height: 29px;
  position: absolute;
  right: 0;
  display: inline-block;
}

.b-adding--contactform_mailtitle {
  display: block;
  width: 45%;
  top: 0;
  right: 0;
  position: absolute;
}

.b-adding--contactform_message {
  width: 98%;
  height: 53px;
  max-width: 98%;
  outline: none;
  border: 1px solid #c7c7c7;
}

.b-adding--contactform_message:focus {
  border: 1px solid #000;
}

.b-adding--contactform_messagetitle {
  display: block;
  position: relative;
  padding-top: 10px;
}

.b-adding--contactform_send {
  width: 45%;
  height: 43px;
  border-radius: 2px;
  border: 1px solid #c7c7c7;
  background: #fff;
  color: #000;
  font-family: ProximaNova-Bold;
  text-decoration: underline;
  text-transform: uppercase;
  margin-top: 20px;
}

.b-adding--contactform_send:hover {
  border: 1px solid #000;
}

.b-adding--contactform_startext {
  display: inline-block;
  position: relative;
  top: 10px;
  width: 40%;
  font-family: ProximaNova-Reg;
  font-size: 10px !important;
  color: #b4b4b4;
  padding-left: 20px;
}

.b-widget {
  position: relative;
  display: block;
  width: 32%;
  height: auto;
  float: right;
  vertical-align: top;
}

.b-widget .b-adding--contactform {
  width: 100%;
}

.b-widget--clients {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  font-size: 0;
}

.b-widget--clients li {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.b-widget--clients li a {
  display: block;
  width: 95%;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.b-widget--clients_imagewrapper {
  display: block;
  width: 100%;
  height: 60px;
  overflow: hidden;
}

.b-widget--clients_imagewrapper img {
  margin-top: 0;
}

.b-widget--about {
  padding-left: 30%;
  font-size: 13px;
}

.b-widget--about_text {
  display: block;
}

.b-expertslist {
  display: block;
  width: 100%;
  font-size: 0;
  text-align: center;
  margin-top: 30px;
}

.b-expertslist li {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

.b-expertslist--imagewrapper {
  display: block;
  position: relative;
  width: 80%;
  height: 0;
  padding-bottom: 80%;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.b-expertslist--imagewrapper img {
  position: relative;
  min-width: 100%;
  height: auto;
  margin-top: 0;
}

.b-expertslist--name {
  font-family: ProximaNova-Bold;
  padding-top: 10px !important;
}

.b-expertslist--post {
  padding-top: 5px !important;
}

.b-client--imageframe {
  position: relative;
  display: block;
  width: 32%;
  overflow: hidden;
  float: left;
  vertical-align: top;
}

.b-client--imageframe img {
  width: 85%;
  margin-top: 0;
  border: 1px solid #acacac;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  margin-right: 5%;
}

.b-client--text {
  display: block;
  float: right;
  width: 66%;
  height: auto;
  vertical-align: top;
}

.b-client--list {
  display: block;
  position: relative;
  width: 100%;
  font-size: 0;
  margin-bottom: 30px;
}

.b-client--list li {
  position: relative;
  display: inline-block;
  width: 25%;
  vertical-align: top;
  text-align: center;
}

.b-client--list li a {
  display: block;
  width: 100%;
  height: auto;
  font-size: 14px;
}

.b-client--list li p {
  padding-top: 0;
}

.b-client--list_link {
  padding-top: 10px;
}

.b-client--list_imagewrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 120px;
}

.b-client--list_imagewrapper img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.b-innernav {
  display: block;
  position: relative;
  width: 100%;
  min-width: 600px;
  height: 31px;
  background: #fff;
  border-bottom: 1px solid #e3e3e3;
  margin-top: 16px;
  z-index: 1;
}

.b-innernav--menu {
  position: relative;
  max-width: 940px;
  min-width: 600px;
  height: 32px;
  margin: 0 auto;
  font-size: 0;
}

.b-innernav--menu li {
  display: inline-block;
  height: 100%;
}

.b-innernav--menu li a {
  display: block;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  border: 1px solid rgba(0,0,0,0);
  z-index: 2;
}

.b-innernav--menu li a.active_link {
  border-bottom: 1px solid #fff;
  border-left: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  color: #000;
  text-decoration: none;
  font-family: ProximaNova-Bold;
}

body {
  font-family: ProximaNova-Reg;
  -webkit-font-smoothing: antialiased;
}

b {
  font-family: ProximaNova-Bold;
}

a {
  font-family: ProximaNova-Reg;
  color: #36a7df;
  text-decoration: underline;
}

a:hover {
  color: #f55;
}

button {
  cursor: pointer;
}

h3 {
  font-family: ProximaNova-Bold;
  font-size: 14px;
  text-transform: uppercase;
}

p {
  font-family: ProximaNova-Reg;
  font-size: 14px;
}

blockquote {
  display: block;
  position: relative;
  margin-top: 20px;
  font-family: ProximaNova-Reg;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: #f5f5e9;
}